%html
  %h1 7 Days to Die Attributes and Perks
  %form{method: 'get', action: '/'}
    %input{type: 'hidden', name: 'history', value: @history}
    - ALL_PERKS.each do |attr, perks|
      %p
        = attr
        %input{type: 'submit', name: attr, value: "Take \"#{attr}\""}
        %p
        - perks.each do |perk|
          %input{type: 'submit', name: perk, value: "Take \"#{perk}\""}
    %input{type: 'submit', name: 'levelup', value: 'Level up'}
  %h2 Status
  %dl
    %dt Level
    %dd
      = @player.level
    %dt Skill point
    %dd
      = @player.skill_point
  %pre
    = @player.description
  - unless @history.empty?
    %h2 History
    %ul
      - @history.each do |action|
        %li
          = action
  %hr
  %a{href: '/'}
    初期状態からやりなおす
